body {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

div.contenedor {
	width: 250px;
	height: 430px;
	padding: 40px;

	box-shadow: 0 0 5px rgba(0, 0, 0, .2);
	border-radius: 6px;
	font-family: 'Roboto';
}

div.contenedor_header {
	margin-bottom: 20px;
	padding: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

div.contenedor_header h2 {
	color: #060270;
	text-transform: capitalize;
}

div.contenedor_header img {
	width: 150px;
	height: 150px;
	padding: 10px;

	border: 2px solid #0602;
	border-radius: 20%;
}

div.contenedor_body .body_elemento label {
	color: #060270;
	text-transform: capitalize;
}

div.contenedor_body .body_elemento input {
	width: 100%;
	padding: 8px 4px;
	margin-top: 3px;
	margin-bottom: 10px;
}

div.contenedor_body .body_elemento input:focus {
	border: 2px solid #060270;
	border-radius: 4px;
	outline: none;
}

div.contenedor_body .contenedor_boton {
	text-align: center;
	margin-top: 10px;
}

div.contenedor_body .contenedor_boton .boton {
	width: 100px;
	padding: 12px;
	background-color: #060270;
	border-radius: 5px;
	border: 1px solid transparent;
	cursor: pointer;

	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;

	transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

div.contenedor_body .contenedor_boton .boton:hover {
	background-color: #fff;
	border: 1px solid #060270;
	color: #060270;
}